network: "tcp"
listen: ":8000"
rules:
  - allow: "api.eolymp.com"
    ports: [443]
  - allow: "accounts.eolymp.com"
    ports: [443]
  - allow: "basecamp.eolymp.com"
    ports: [443]
  - allow: "static.eolymp.com"
    ports: [443]
  - allow: "static.e-olymp.com"
    ports: [443]
  - allow: "eolympusercontent.com"
    ports: [443]
  - allow: "fonts.googleapis.com"
    ports: [80, 443]
  - allow: "fonts.gstatic.com"
    ports: [80, 443]
  - allow: "cdn.jsdelivr.net"
    ports: [80, 443]
  - allow: "*.*.amazontrust.com"
    ports: [80, 443]
  - allow: "safebrowsing.googleapis.com"
    ports: [80, 443]
