network: "tcp"
listen: ":8000"

# Filter domain resolution
allowed_domains:
  - "api.eolymp.com"
  - "accounts.eolymp.com"
  - "basecamp.eolymp.com"
  - "static.eolymp.com"
  - "static.e-olymp.com"
  - "eolympusercontent.com"
  - "fonts.googleapis.com"
  - "fonts.gstatic.com"
  - "cdn.jsdelivr.net"
  - "*.*.amazontrust.com"
  - "safebrowsing.googleapis.com"

forbidden_domains: []

# Filter destination IPs
allowed_ip: []
forbidden_ip: []

# Add IPs returned by DNS resolver to allow list
allow_resolved_ips: true

# Filter destination ports
allowed_ports: [80, 443]
forbidden_ports: []
